<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'EVENTS' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let post of eventsData">
    <ion-card-header>
      <ion-card-subtitle [innerHTML]="post.date"></ion-card-subtitle>
      <!--      <ion-card-subtitle>{{ 'HOME_TITLE' | translate}}</ion-card-subtitle>-->
      <ion-card-title class="ion-card-subtitle" [innerHTML]="post.summary"></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="post.description"></div>
    </ion-card-content>
    <ion-row>
      <ion-col class="ion-text-right">
        <ion-button color="primary" (click)="openLink(post.url)">
          <ion-ripple-effect></ion-ripple-effect>
          {{ 'EVENTS.MOREDETAILS' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
